#img1{
position: relative;
left: 200px;
top: 150px;
width: 600px;
height: 300px;
}
#button2{
position: relative;
left: 200px;
top: 20px;
width: 100px;
height: 100px;
background: none;
border: none;
}
#button1{
    position: relative;
    left: 1000px;
    top: 20px;
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    }
    #hum{
width: 50px;
height: 50px;
position: absolute;
top: 20px;
left: 95%;
    }
#hum1{
display: none;
background-color: rgb(173, 173, 173);
position: absolute;
top: 0px;
left: 90%;
height: 100%;
width: 10%;
}
#hum2{
position: absolute;
top: 5%;
left: 30px;
font-size: 23px;
color: aquamarine;

}
#hum3{
    position: absolute;
    top: 10%;
    left: 30px;
    font-size: 23px;
    color: aquamarine;
}